org.openelisglobal.facility.id={{ facility_id }}
org.openelisglobal.country={{ context_name }}
org.openelisglobal.state=
org.openelisglobal.district=

# Demo default only. Override in deployment-specific secret management.
org.openelisglobal.fhirstore.password=adminADMIN!
