BANNER_TEXT={{ project_name }}
DEFAULT_NATIONALITY={{ default_nationality }}
PHONE_FORMAT=.*
PHONE_FORMAT_LABEL=International or local phone number
PHONE_INTERNATIONAL_FORMAT=^\+[1-9][0-9]{7,14}$
PHONE_INTERNATIONAL_FORMAT_LABEL=International phone number
GeographicUnit1Label=Region
GeographicUnit2Label=District
EQA_ENABLED=false
