context_slug: {{ context_slug }}
context_name: {{ context_name }}
project_name: {{ project_name }}
timezone: {{ timezone }}
default_nationality: {{ default_nationality }}
facility_id: {{ facility_id }}
public_hostname: {{ public_hostname }}
