context_slug: {{ context_slug | tojson }}
context_name: {{ context_name | tojson }}
project_name: {{ project_name | tojson }}
timezone: {{ timezone | tojson }}
default_nationality: {{ default_nationality | tojson }}
facility_id: {{ facility_id | tojson }}
public_hostname: {{ public_hostname | tojson }}
